<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenAI API Test App</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='chatstyles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
                <div class="d-inline-flex column-gap-2">
                    <span class="navbar-brand mb-0 ms-3 me-2 h1">Tools</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Conversation Select</button>
                        <ul class="dropdown-menu">
                            {% for convo in conversations %}
                                <li><button class="dropdown-item {{ 'disabled' if convo['name'] == chat_name }}" onclick="handleConvoSelect({{ convo['id'] }})">{{ convo['name'] }}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" onclick="handleConvoSelect(-1)">New Conversation</button></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-info" onclick="handleDuplicate()">Duplicate Conversation</button>
                    <button type="button" class="btn btn-danger" onclick="handleDeleteButton()">Delete Conversation</button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Model Select</button>
                        <ul class="dropdown-menu">
                            {% for model in models %}
                                <li><button class="dropdown-item {{ 'disabled' if model == curmodel }}" onclick="handleModelSelect('{{model}}')">{{ model }}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item {{ 'disabled' if curmodel == 'dummy' }}" onclick="handleModelSelect('dummy')">Dummy Model</button></li>
                        </ul>
                    </div>
                    <span style="margin-left:auto;">
                        <button class="btn btn-dark" type="button" onclick="handleScrollButton(0)">&#8593;</button>
                        <button class="btn btn-dark" type="button" onclick="handleScrollButton(-1)">&#8595;</button>
                    </span>
                </div>
            </nav>
            <div class="text-light" style="display:flex; align-items: center; gap: 20px;">
                <h2 id="chatname">{{ chat_name }}</h2> 
                <button class="btn btn-dark" onclick="handleRenameButton()" title="Edit Chat Title" id="editbutton">&#9998;</button>
                <button class="btn btn-primary" onclick='handleSysPromptButton("{{ sysprompt|string }}")' id="syspromptbutton">Edit System Prompt</button>
            </div>
            
            <div id="output">
                {% for message in chat_history %}
                    <p>
                        <div class="text-light bubble">
                            <h4>{{ message['role'] }}</h4>
                            {{ message['content'] | safe }}
                        </div>
                    </p>
                {% endfor %}
            </div>

            <nav class="navbar fixed-bottom bg-body-tertiary">
                <form class="container-fluid" id="inputParent" onsubmit="return false">
                    <div class="input-group">    
                        <textarea class="form-control" placeholder="Enter text to send" aria-label="Input" aria-describedby="basic-addon1" onkeypress="checkChatEnter(event)" id="userInput" autocomplete="off"></textarea>
                        <button class="input-group-text" id="submitbutton" onclick="sendChat()">></button>
                    </div>
                </form>
            </nav>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script>
            /**
             * Builds a FormData and automatically composes a fetch call
             * @param {string} bodyKey The Key of the payload to be sent
             * @param {string} bodyValue The Value of the payload to be sent
             * @param {string} target The target URL to send the request to
             * @param {string} httpMethod The HTTP Method to use when sending the request
             * @returns {promise} The promise returned from the fetch().then() call
             */
            function formBuilder(bodyKey, bodyValue, target, httpMethod) {
                let formData = new FormData();
                formData.append(bodyKey, bodyValue);
                return fetch(target, {method: httpMethod, body: formData}).then(response => response.text());
            }
            /**
             * Higher order function that formBuilder then reloads the page.
             * @param {function} formBuilderCallback Prepared formBuilder() call, ideally as an arrow function
             * @returns {promise} Promise returned from fetch.then().then()
             */
            function fetchThenReload(formBuilderCallback) {
                return formBuilderCallback().then(data => { location.reload() });
            }
            /**
             * Creates and returns an HTML button
             * @param {string} buttonTitle The title of the button, to be displayed on hover
             * @param {string} buttonHTML The innerHTML property, i.e. the text to be displayed on the button
             * @param {[string]} buttonClasses A list of classes to be passed to the button
             * @returns {object} Returns an HTML button
             */
            function buttonBuilder(buttonTitle, buttonHTML, buttonClasses) {
                let newButton = document.createElement('button');
                newButton.title = buttonTitle;
                newButton.innerHTML = buttonHTML;
                newButton.classList.add(...buttonClasses);
                return newButton;
            }
            function sendChat() {
                const userInput = document.getElementById("userInput").value;
                let submitButton = document.getElementById("submitbutton");
                submitButton.disabled = true;
                let inputField = document.getElementById("userInput");
                inputField.disabled = true;
                function parBuilderHelper(divChild, headerText, divStyle=""){
                    const newPar = document.createElement('p');
                    const newDiv = document.createElement('div');
                    newDiv.classList.add('text-light', 'bubble');
                    const newHead = document.createElement('h4');
                    newHead.innerText = headerText;
                    newDiv.appendChild(newHead);
                    if (divStyle != "") newDiv.style = divStyle;
                    newDiv.appendChild(divChild);
                    newPar.appendChild(newDiv);
                    return newPar;
                }
                const newPar = parBuilderHelper(document.createTextNode(userInput), "user", "padding-bottom: 1em");
                document.getElementById("output").appendChild(newPar);
                document.getElementById("inputParent").reset();
                window.scrollTo(0, document.body.scrollHeight);
                formBuilder("text", userInput, '/', 'POST').then(data => {
                    const respSpan = document.createElement('span');
                    respSpan.innerHTML = data;
                    const respPar = parBuilderHelper(respSpan, "assistant")
                    document.getElementById("output").appendChild(respPar);
                    window.scrollTo(0, document.body.scrollHeight);
                    inputField.disabled = false;
                    submitButton.disabled = false;}
                    ).catch(error => {console.error('Error: ', error);});
            }
            function checkChatEnter(event) {
                if (event.key === "Enter" && !event.shiftKey) {
                    sendChat();
                }
            }
            function handleRenameButton(){
                const titleHeader = document.getElementById("chatname");
                const chatTitle = titleHeader.innerText;
                const editButton = document.getElementById("editbutton");
                const renameField = document.createElement('input');
                const newSpan = document.createElement('span');
                renameField.type = "text"
                renameField.value = chatTitle;
                renameField.size = 50;
                function sendRename() {
                    const newTitle = renameField.value
                    fetchThenReload(() => formBuilder("title", newTitle, '/rename', 'PUT')).catch(error => {console.error('Error: ', error);});
                }
                const cancelButton = buttonBuilder("Cancel renaming", "&#10006;", ['btn', 'btn-dark']);
                cancelButton.onclick = () => {
                    renameField.replaceWith(titleHeader);
                    newSpan.replaceWith(editButton);
                };
                const confirmButton = buttonBuilder("Confirm name", "&#10004", ['btn', 'btn-dark']);
                confirmButton.onclick = () => sendRename();
                newSpan.appendChild(confirmButton);
                newSpan.appendChild(cancelButton);
                renameField.onkeypress = (event) => {
                    if (event.key === "Enter"){
                        sendRename()
                    }
                };
                titleHeader.replaceWith(renameField);
                editButton.replaceWith(newSpan);
            }
            function handleConvoSelect(id){
                if (id === -1) {
                    fetchThenReload(() => formBuilder('new', true, '/newchat', 'POST')).catch(error => {console.error('Error: ', error);});
                } else {
                    fetchThenReload(() => formBuilder('id', id, '/select', 'POST')).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleDeleteButton() {
                if (window.confirm("Are you sure you want to delete this conversation?\nThis action cannot be undone!")){
                    fetchThenReload(() => formBuilder('del', true, '/delete', 'DELETE')).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleDuplicate() {
                if (window.confirm("Do you really want to duplicate this conversation?")){
                    fetchThenReload(() => formBuilder('dup', true, '/duplicate', 'POST')).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleModelSelect(model) {
                fetchThenReload(() => formBuilder('model', model, '/changemodel', 'PUT')).catch(error => {console.error('Error: ', error);});
            }
            function handleSysPromptButton(prompt) {
                const outputArea = document.getElementById("output");
                const sysPromptButton = document.getElementById("syspromptbutton");
                const editArea = document.createElement('input');
                const confirmButton = buttonBuilder("Confirm new System Prompt", "&#10004", ['btn', 'btn-dark']);
                const cancelButton = buttonBuilder("Cancel editing", "&#10006;", ['btn', 'btn-dark']);
                const newSpan = document.createElement('span');
                sysPromptButton.style.visibility = 'hidden';
                editArea.size = 150;
                editArea.value = prompt;
                editArea.onkeypress = (event) => {if (event.key === "Enter") {changeSysprompt()} };
                newSpan.appendChild(editArea);
                newSpan.appendChild(confirmButton);
                newSpan.appendChild(cancelButton);
                outputArea.prepend(newSpan);
                cancelButton.onclick = () => {
                    newSpan.remove();
                    sysPromptButton.style.visibility = 'visible';
                }
                function changeSysprompt() {
                    const newPrompt = editArea.value;
                    fetchThenReload(() => formBuilder('newprompt', newPrompt, '/changeprompt', 'PUT')).catch(error => {console.error('Error: ', error);});
                }
                confirmButton.onclick = () => changeSysprompt();
            }
            function handleScrollButton(loc) {
                if (loc == 0) window.scrollTo(0, 0);
                else window.scrollTo(0, document.body.scrollHeight);
            }
        </script>
    </body>
</html>