<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sample Flask Webapp</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='chatstyles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-dark">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Top Navbar</span>
        </nav>

        <div class="container-fluid">
            <h1 class="text-light">Welcome to my Flask App!</h1>
            
            <div id="output">
                {% for message in chat_history %}
                    <p>
                        <div class="text-light bubble">
                            <h4>{{ message['role'] }}</h2>
                            {{ message['content'] | safe }}
                        </div>
                    </p>
                {% endfor %}
            </div>

            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <form class="container-fluid" id="inputParent" onsubmit="return false">
                    <div class="input-group">    
                        <input type="text" class="form-control" placeholder="Enter text to send" aria-label="Input" aria-describedby="basic-addon1" onkeypress="handleKeyPress(event)" id="userInput" autocomplete="off">
                        <span class="input-group-text" id="basic-addon1">></span>
                    </div>
                </form>
            </nav>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script>
            function handleKeyPress(event) {
                if (event.key === "Enter") {
                    let userInput = document.getElementById("userInput").value;
                    let formData = new FormData();
                    formData.append("text", userInput);
                    let newPar = document.createElement('p');
                    let respPar = document.createElement('p');
                    newPar.classList.add('text-light', 'bubble');
                    respPar.classList.add('text-light', 'bubble');
                    newPar.innerText = userInput;
                    fetch('/', {
                        method: 'POST',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        //console.log(data);
                        document.getElementById("output").appendChild(newPar);
                        respPar.innerText = data;
                        document.getElementById("output").appendChild(respPar);
                        document.getElementById("inputParent").reset();}
                        ).catch(error => {console.error('Error: ', error);});
                }
            }
        </script>
    </body>
</html>

