<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenAI API Test App</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='chatstyles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
                <div class="d-inline-flex">
                    <span class="navbar-brand mb-0 h1">Tools</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Conversation Select</button>
                        <ul class="dropdown-menu">
                            {% for convo in conversations %}
                                <li><button class="dropdown-item" onclick="handleConvoSelect({{ convo['id'] }})">{{ convo['name'] }}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" onclick="handleConvoSelect(-1)">New Conversation</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-light" style="display:flex; align-items: center; gap: 20px;">
                <h2 id="chatname">{{ chat_name }}</h2> 
                <button class="btn btn-dark" onclick="handleRenameButton()" title="Edit Chat Title" id="editbutton">&#9998;</button>
            </div>
            
            <div id="output">
                {% for message in chat_history %}
                    <p>
                        <div class="text-light bubble">
                            <h4>{{ message['role'] }}</h4>
                            {{ message['content'] | safe }}
                        </div>
                    </p>
                {% endfor %}
            </div>

            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <form class="container-fluid" id="inputParent" onsubmit="return false">
                    <div class="input-group">    
                        <input type="text" class="form-control" placeholder="Enter text to send" aria-label="Input" aria-describedby="basic-addon1" onkeypress="checkChatEnter(event)" id="userInput" autocomplete="off">
                        <span class="input-group-text" id="basic-addon1">></span>
                    </div>
                </form>
            </nav>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script>
            function checkChatEnter(event) {
                if (event.key === "Enter") {
                    const userInput = document.getElementById("userInput").value;
                    let inputField = document.getElementById("userInput");
                    inputField.disabled = true;
                    let formData = new FormData();
                    formData.append("text", userInput);
                    const newPar = document.createElement('p');
                    const newDiv = document.createElement('div');
                    const newHead = document.createElement('h4');
                    const respPar = document.createElement('p');
                    const respDiv = document.createElement('div');
                    const respHead = document.createElement('h4')
                    const userText = document.createTextNode(userInput);
                    newDiv.classList.add('text-light', 'bubble');
                    respDiv.classList.add('text-light', 'bubble');
                    newHead.innerText = "user";
                    respHead.innerText = "assistant";
                    newDiv.appendChild(newHead);
                    newDiv.appendChild(userText);
                    newPar.appendChild(newDiv);
                    document.getElementById("output").appendChild(newPar);
                    document.getElementById("inputParent").reset();
                    window.scrollTo(0, document.body.scrollHeight);
                    fetch('/', {
                        method: 'POST',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        respDiv.appendChild(respHead);
                        const respSpan = document.createElement('span');
                        respSpan.innerHTML = data;
                        respDiv.appendChild(respSpan);
                        respPar.appendChild(respDiv);
                        document.getElementById("output").appendChild(respPar);
                        window.scrollTo(0, document.body.scrollHeight);
                        inputField.disabled = false;}
                        ).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleRenameButton(){
                const titleHeader = document.getElementById("chatname");
                const chatTitle = titleHeader.innerText;
                const editButton = document.getElementById("editbutton");
                const renameField = document.createElement('input');
                renameField.type = "text"
                renameField.value = chatTitle;
                renameField.size = 50;
                const cancelButton = document.createElement('button');
                cancelButton.classList.add('btn', 'btn-dark');
                cancelButton.innerHTML = "&#10006;";
                cancelButton.title = "Cancel renaming";
                cancelButton.onclick = () => {
                    renameField.replaceWith(titleHeader);
                    cancelButton.replaceWith(editButton);};
                renameField.onkeypress = (event) => {
                    if (event.key === "Enter"){
                        let formData = new FormData();
                        const newTitle = renameField.value
                        formData.append("title", newTitle);
                        fetch('/rename', {
                            method: 'POST',
                            body: formData
                        }).then(response => response.text())
                        .then(data => {
                            titleHeader.innerText = newTitle;
                            renameField.replaceWith(titleHeader);
                            cancelButton.replaceWith(editButton);
                        }).catch(error => {console.error('Error: ', error);});
                    }
                };
                titleHeader.replaceWith(renameField);
                editButton.replaceWith(cancelButton);
            }
            function handleConvoSelect(id){
                console.log('You selected ' + id);
            }
        </script>
    </body>
</html>

