<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenAI API Test App</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='chatstyles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>
    <body class="bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
                <div class="d-inline-flex column-gap-2">
                    <span class="navbar-brand mb-0 ms-3 me-2 h1">Tools</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Conversation Select</button>
                        <ul class="dropdown-menu">
                            {% for convo in conversations %}
                                <li><button class="dropdown-item {{ 'disabled' if convo['name'] == chat_name }}" onclick="handleConvoSelect({{ convo['id'] }})">{{ convo['name'] }}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" onclick="handleConvoSelect(-1)">New Conversation</button></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-info" onclick="handleDuplicate()">Duplicate Conversation</button>
                    <button type="button" class="btn btn-danger" onclick="handleDeleteButton()">Delete Conversation</button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Model Select</button>
                        <ul class="dropdown-menu">
                            {% for model in models %}
                                <li><button class="dropdown-item {{ 'disabled' if model == curmodel }}" onclick="handleModelSelect('{{model}}')">{{ model }}</button></li>
                            {% endfor %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item {{ 'disabled' if curmodel == 'dummy' }}" onclick="handleModelSelect('dummy')">Dummy Model</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-light" style="display:flex; align-items: center; gap: 20px;">
                <h2 id="chatname">{{ chat_name }}</h2> 
                <button class="btn btn-dark" onclick="handleRenameButton()" title="Edit Chat Title" id="editbutton">&#9998;</button>
                <button class="btn btn-primary" onclick='handleSysPromptButton("{{ sysprompt|string }}")' id="syspromptbutton">Edit System Prompt</button>
            </div>
            
            <div id="output">
                {% for message in chat_history %}
                    <p>
                        <div class="text-light bubble">
                            <h4>{{ message['role'] }}</h4>
                            {{ message['content'] | safe }}
                        </div>
                    </p>
                {% endfor %}
            </div>

            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <form class="container-fluid" id="inputParent" onsubmit="return false">
                    <div class="input-group">    
                        <textarea class="form-control" placeholder="Enter text to send" aria-label="Input" aria-describedby="basic-addon1" onkeypress="checkChatEnter(event)" id="userInput" autocomplete="off"></textarea>
                        <button class="input-group-text" id="submitbutton" onclick="sendChat()">></button>
                    </div>
                </form>
            </nav>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
        <script>
            function sendChat() {
                const userInput = document.getElementById("userInput").value;
                let submitButton = document.getElementById("submitbutton");
                submitButton.disabled = true;
                let inputField = document.getElementById("userInput");
                inputField.disabled = true;
                let formData = new FormData();
                formData.append("text", userInput);
                const newPar = document.createElement('p');
                const newDiv = document.createElement('div');
                const newHead = document.createElement('h4');
                const respPar = document.createElement('p');
                const respDiv = document.createElement('div');
                const respHead = document.createElement('h4')
                const userText = document.createTextNode(userInput);
                newDiv.classList.add('text-light', 'bubble');
                respDiv.classList.add('text-light', 'bubble');
                newHead.innerText = "user";
                respHead.innerText = "assistant";
                newDiv.appendChild(newHead);
                newDiv.appendChild(userText);
                newPar.appendChild(newDiv);
                document.getElementById("output").appendChild(newPar);
                document.getElementById("inputParent").reset();
                window.scrollTo(0, document.body.scrollHeight);
                fetch('/', {
                    method: 'POST',
                    body: formData
                }).then(response => response.text())
                .then(data => {
                    respDiv.appendChild(respHead);
                    const respSpan = document.createElement('span');
                    respSpan.innerHTML = data;
                    respDiv.appendChild(respSpan);
                    respPar.appendChild(respDiv);
                    document.getElementById("output").appendChild(respPar);
                    window.scrollTo(0, document.body.scrollHeight);
                    inputField.disabled = false;
                    submitButton.disabled = false;}
                    ).catch(error => {console.error('Error: ', error);});
            }
            function checkChatEnter(event) {
                if (event.key === "Enter" && !event.shiftKey) {
                    sendChat();
                }
            }
            function handleRenameButton(){
                const titleHeader = document.getElementById("chatname");
                const chatTitle = titleHeader.innerText;
                const editButton = document.getElementById("editbutton");
                const renameField = document.createElement('input');
                const newSpan = document.createElement('span');
                renameField.type = "text"
                renameField.value = chatTitle;
                renameField.size = 50;
                function sendRename() {
                    let formData = new FormData();
                    const newTitle = renameField.value
                    formData.append("title", newTitle);
                    fetch('/rename', {
                        method: 'PUT',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                }
                const cancelButton = document.createElement('button');
                cancelButton.classList.add('btn', 'btn-dark');
                cancelButton.innerHTML = "&#10006;";
                cancelButton.title = "Cancel renaming";
                cancelButton.onclick = () => {
                    renameField.replaceWith(titleHeader);
                    newSpan.replaceWith(editButton);
                };
                const confirmButton = document.createElement('button');
                confirmButton.classList.add('btn', 'btn-dark');
                confirmButton.innerHTML = "&#10004";
                confirmButton.title = "Confirm name";
                confirmButton.onclick = () => sendRename();
                newSpan.appendChild(confirmButton);
                newSpan.appendChild(cancelButton);
                renameField.onkeypress = (event) => {
                    if (event.key === "Enter"){
                        sendRename()
                    }
                };
                titleHeader.replaceWith(renameField);
                editButton.replaceWith(newSpan);
            }
            function handleConvoSelect(id){
                if (id === -1) {
                    let formData = new FormData();
                    formData.append("new", true);
                    fetch('/newchat',{
                        method:'POST',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                } else {
                    let formData = new FormData();
                    formData.append("id", id);
                    fetch('/select',{
                        method:'POST',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleDeleteButton() {
                if (window.confirm("Are you sure you want to delete this conversation?\nThis action cannot be undone!")){
                    let formData = new FormData();
                    formData.append("del", true);
                    fetch('/delete', {
                        method:'DELETE',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleDuplicate() {
                if (window.confirm("Do you really want to duplicate this conversation?")){
                    let formData = new FormData();
                    formData.append("dup", true);
                    fetch('/duplicate', {
                        method:'POST',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                }
            }
            function handleModelSelect(model) {
                let formData = new FormData();
                formData.append("model", model);
                fetch('/changemodel', {
                    method:'PUT',
                    body: formData
                }).then(response => response.text())
                .then(data => {
                    location.reload();
                }).catch(error => {console.error('Error: ', error);});
            }
            function handleSysPromptButton(prompt) {
                const outputArea = document.getElementById("output");
                const editArea = document.createElement('input');
                const confirmButton = document.createElement('button');
                const cancelButton = document.createElement('button');
                const newSpan = document.createElement('span');
                editArea.size = 150;
                editArea.value = prompt;
                newSpan.appendChild(editArea);
                newSpan.appendChild(confirmButton);
                newSpan.appendChild(cancelButton);
                outputArea.prepend(newSpan);
                cancelButton.classList.add('btn', 'btn-dark');
                cancelButton.innerHTML = "&#10006;";
                cancelButton.title = "Cancel editing";
                cancelButton.onclick = () => newSpan.remove();
                confirmButton.classList.add('btn', 'btn-dark');
                confirmButton.innerHTML = "&#10004";
                confirmButton.title = "Confirm new System Prompt";
                confirmButton.onclick = () => {
                    let formData = new FormData();
                    const newPrompt = editArea.value
                    formData.append("newprompt", newPrompt);
                    fetch('/changeprompt', {
                        method: 'PUT',
                        body: formData
                    }).then(response => response.text())
                    .then(data => {
                        location.reload();
                    }).catch(error => {console.error('Error: ', error);});
                };
            }
        </script>
    </body>
</html>